/* The side navigation menu */
.sidenav {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0; /* Stay at the top */
 left: 0;
 background-color: rgba(114,63,25, 0.9);  /* Black*/;
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 2vh; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: white;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: rgb(241,133,54);
}

.sidenav .fa-cutlery {
    /* margin-bottom: .3em; */
    padding-left: .55em;
    padding-right: .7em;
}
.sidenav .fa-file{
    margin-left: .65em;
    margin-right: .8em;
}
.sidenav .fa-handshake{
    margin-left: .3em;
    margin-right: .4em;
}
.sidenav img{
    margin-bottom: 0.3em;
    margin-left: 0.5em;
    margin-right: 0.4em;
}
.sidenav .fa-sign-in-alt{
    margin-left: .45em;
    margin-right: .5em;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;

}


 
.sidenav .fa-home{
    margin-top: 1em;
    margin-left: .55em;
    margin-right: .3em;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
 transition: margin-left .5s;

}

.qr .row .row {
    padding-top: .5em;;
}
.qr .col-8{
   
    padding-right: 0;
}
.qr .col-4{
    padding-left: 0;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 575.98px){
 .sidenav {
     padding-top: 15px;
     
 }
 .sidenav img{
     width: 1em;
     height: 1em;
 }
 .sidenav a {
     font-size: 1.2em;
     padding: 8px 8px 8px 10px;
 }
 .sidenav .col{
     padding: 0 0;
 }
 

}
