/* GENREAL */
    /* QR_SCANNER */
    
    #instruction{
        color:  rgb(241,133,54);        
    }
        .form-control{
            color: rgb(190,105,43);
        }
        .form-control:focus, .form-control:active {
            color: rgb(190,105,43);
            outline: none !important;
            border:1px solid rgb(241,133,54);
            box-shadow: 0 0 10px rgb(241,133,54);
        }
        footer{
            position: absolute;
            margin: 0 2vh;
            text-transform: none;            
            bottom: 0;
        }
        /* END-QR_SCANNER */
        @font-face {
            font-family: 'Acumin Pro';
            font-style: normal;
            font-weight: normal;
            src:  url('../../fonts/custom/Acumin-RPro.woff') format('woff');
        }
        label {
            margin-bottom: 0;
        }
        body{
            height: 100vh;
            font-family: 'Acumin Pro';            
            margin-bottom: 60px;              
        }
        button{
            background-color: rgb(241,133,54);
            text-transform: uppercase;
            color: white;
        }
        .btn:focus, .btn:active {
            outline: none !important;
            box-shadow: none !important;
            background-color: rgb(190,105,43);
            opacity: 1;
        }
        .btn-round{
            border-radius: 15px;
        }
        button > a {
            color: white;
        }
        /* button > a:hover, but{
            color:  rgb(190,105,43);
        } */
        button > active {
            color: white;
        }
        button:hover{
            /* background-color: #007bff; */
            background-color: rgba(114,63,25, 0.9);
        }
/* END-GENERAL */
/* HEADER */
    .main-header{
        background: rgb(241,133,54)  url("../../images/kekomo/1.svg") no-repeat center center;
        background-size: contain;
        height: 30vh;
        position: relative;
    }
    .main-header:after{
        content:'';
        position: absolute;
        bottom: 0;
        right: 0;
        border-style: solid;
        border-width: 0 0 7em 100vw;
        border-color: transparent transparent white transparent;
    }
    #lang{
        position: absolute;
        color: white;
        top:0;
        right: 1em;
    }
    #lang >a{
        cursor: pointer;
    }
    #menu{
        position: absolute;
        color: white;
        top:0;
        left: 1em;
    }
    #lang > a {
        color:white;
    }
    #lang > a:active{
        color:white;
    }
/* END-HEADER */
/* MAIN_CONTAINER */
    .main_container{
         position: relative;
         display: block;
         height: 70vh;
         text-transform: uppercase;
    }
    .main_container:after{
        content: "";
        background-image:  url("../../images/kekomo/tenedor.png");
        background-repeat: no-repeat;
        background-size: cover ;
        background-clip: padding-box;
        background-position: top;
        opacity: 0.1;
        top: 4vh;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
    #main_label{
        color: rgb(241,133,54);
        opacity: 1;
    }
    #restaurante{
        background-image: url("../../images/kekomo/resta.svg") ;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1;
    }
    #car{
        background-image: url("../../images/kekomo/llevar.svg") ;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    #bag{
        background-image: url("../../images/kekomo/pick&go.svg") ;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    #dry-thru{
        color:rgb(241,133,54);
        font-size: 2.2em;
        text-align: center;
        /* display: flex;
        flex-flow: row wrap;
        align-items: center; */
    }
    /* QRSCANNER */
    .qr > .row{
        color: rgb(241,133,54);
    }
    #scanner {
        display: block;
        color:  rgb(114,63,25);
        text-decoration: none;
        font-weight: bold;
    }
    #scanner:hover{
        text-decoration: none;
        color: rgb(190,105,43);
    }
    #scanner:active{
        text-decoration: none;
        transform: scale(1.1);
    }
    /* END-QRSACANNER */
    /* MODAL_RESTAURANT */
    .modal-header{
        background-color: rgb(241,133,54);
        color: white;
    }
    .modal-body{
        padding: 2em 0;
    }
    .modal-body > p {
        padding-left: 1em;
    }
    /* END-MODAL_RESTAURANT */
/* END-MAIN_CONTAINER */
/* MODAL AFILIATE */
#myZadarmaCallmeWidget7329{
    width: 61%;
    margin: auto;
}
#exampleModal h4{
    font-family: 'Acumin Pro';
    margin: 0 1em;
}
/* END-MODAL AFILIATE */
/* FOOTER POPUP */
footer{
    margin: 0 0;
   
}
.install-popup{
    display:none;
    width: 100%;
    height: 12vh;
    background-color:whitesmoke;
    position: fixed;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: rgb(241,133,54,.9);
}
#installation .modal-body h6{    
    padding: 30vh 2vw;
    font-weight: 900;
}

.install-popup h6{
    padding: .5em 3em .2em 3em;
    color: white;
}
.install-popup button {
    background-color: rgb(252, 105, 0);
    color: white;
    margin-bottom: .5em;
    outline:none;    
    border: 0;
}

.install-popup .add-button { 
    background-color: white;
    font-weight: bolder !important;    
    color:rgb(241,133,54);
}
#installation .modal-body > p {
    width: 100%;
    font-size: 1.3em;
    padding: 0 .2em;
    margin-bottom: 0;
}
#installation .modal-body h5 {
    padding-top:1em;
}


#installation .modal-body{
    padding: 0;
}
#installation .modal-body #examples_outer{
    padding: .5em 1em 0 2em;
}
#installation button{
    outline:none;    
    border: 0;
}
.modal-header button[data-dismiss="modal"]:hover{
    background-color: transparent;
    
}
#installation .modal-footer button{
    padding: .1em 2em;
}
#installation .modal-footer button[data-dismiss="modal"]{
    background-color: rgba(114,63,25, 0.9);
    
}
.c { clear: both; }


/* POP-UP */
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 38px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 100%; */
    top: 25vh;
    left: 50%;
    margin-left: -150px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .fa-firefox-browser{
    font-size: 6em;
    color: #FF6611;
  } 

  .fa-safari{
    font-size: 6em;    
    color:#008AFB;
  }

  .browser{
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      padding: 1em;
  }
  
/* END-FOOTER POPUP */
@media (min-width: 1200px){
    body{
        /* height: 100vh;
        font-family: 'Acumin Pro';             */
        margin-bottom: 0;              
    }
    /* HEADER */
        .main-header{
            background-size: 29%;
        }
        .main-header:after{
            border-width: 0 0 2em 100vw;
        }

        #menu{
            font-size: 2em;
        }
        #menu:hover{
            cursor:pointer;
        }
        #lang{
            font-size: 1.2em;
        }
    /*END-HEADER*/
    /* MAIN_CONTAINER */
        .main_container{
            height: 67vh;
            margin-top: 1em;
        }
        #main_label{
            font-size: 2.5em;
            /* padding-bottom: 1em; */
        }
        button > a > label{
            font-size: 1em;
        }
        .option{
            padding-top: .5em;
            padding-bottom: .7em;
        }
        #restaurante{
            background-size: 100% 75%;
        }
        #car{
            background-size: 27%;
        }
        #bag{
            background-size: 14%;
        }
        #dry-thru{
            color:rgb(241,133,54);
            font-size: 2.2em;
            text-align: center;
            /* display: flex;
            flex-flow: row wrap;
            align-items: center; */
        }
        
     
    /* END-MAIN_CONTAINER */
    /* QRSCANNER */
        footer{
            font-size: .8em;
        }
        .qr{
            padding-top:  7.5vh;
        }
        .qr > .row{
            margin: 5vh 0;
            font-size: 1.1rem;
        }
        #scanner:active{
            text-decoration: none;
            transform: scale(1.1);
        }
        #canvas{
            /* margin-left: 27.5vw; */
            width: 25vw;
            height: 50vh;
        }
        #output{
            margin: auto;
            background-color:  rgb(241,133,54);
            color: white;
            width: 25vw;
        }
        
    /* END-QRSCANNER */
}
@media (max-width: 1199.98px)and (orientation: landscape){
    body{
        /* height: 100vh;
        font-family: 'Acumin Pro';             */
        margin-bottom: 120px;              
    }
    .install-popup h6{
        padding: 3.3em 0.2em 3em;
        color: white;
    }
    .install-popup{
        display:none;
        width: 100%;
        height: 12vh;
        background-color:whitesmoke;
        position: fixed;
        flex-flow: column wrap;
        justify-content: space-evenly;
        background: rgb(241,133,54,.9);
        padding: 3em 10em;
    
    }
    #installation .modal-body #examples_outer {
        padding: .5em 25% 0 22%;
    }
    /* HEADER */
        .main-header{
            background-size: 35%;
        }
        .main-header:after{
            border-width: 0 0 2em 100vw;
        }
        #menu{
            font-size: 2em;
        }
        #menu:hover{
            cursor:pointer;
        }
        #lang{
            font-size: 1.2em;
        }
        #dry-thru{
            color:rgb(241,133,54);
            font-size: 2.2em;
            text-align: center;
            /* display: flex;
            flex-flow: row wrap;
            align-items: center; */
        }
      
    /*END-HEADER*/
    /* MAIN_CONTAINER */
            .main_container{
                height: 67vh;
                margin-top: 1em;
            }
            #main_label{
                font-size: 2.5em;
                padding-bottom: 1em;
            }

            button > a > label{
                font-size: 1em;
            }
            .option{
                padding-top: .7em;
                padding-bottom: .7em;
            }
            #restaurante{
                background-size: 100% 75%;
            }
            #car{
                background-size: 32%;
            }
            #bag{
                background-size: 17%;
            }
            #dry-thru{
                color:rgb(241,133,54);
                font-size: 2.2em;
                text-align: center;
                /* display: flex;
                flex-flow: row wrap;
                align-items: center; */
            }
        /* END-MAIN_CONTAINER */
        /* QRSCANNER */
            footer{
                font-size: .8em;
            }
            .qr{
                padding-top:  8vh;
            }
            .qr > .row{
                margin: 5vh 0;
                font-size: 1.1rem;
            }
            #canvas{
                /* margin-left: 27.5vw; */
                width: 25vw;
                height: 50vh;
            }
            #output{
                margin: auto;
                background-color:  rgb(241,133,54);
                color: white;
                width: 30vw;
            }
            #instruction{
                font-size: 1.5em;
            }
            #canvas{
                /* margin-left: 27.5vw; */
                width: 40vw;
                height: 45vh;
            }
            #output{
                margin: auto ;
                background-color:  rgb(241,133,54);
                color: white;
                width: 40vw;
            }

        /* END-QRSCANNER */
}
@media (max-width: 1199.98px )and (orientation: portrait){
    body{
        /* height: 100vh;
        font-family: 'Acumin Pro';             */
        margin-bottom: 0;              
    }

    .install-popup{
        display:none;
    }
    /* HEADER */
        .main-header{
            background-size: 35%;
        }
        .main-header:after{
            border-width: 0 0 2em 100vw;
        }
        #menu{
            font-size: 2em;
        }
        #menu:hover{
            cursor:pointer;
        }
        #lang{
            font-size: 1.2em;
        }
        #dry-thru{
            color:rgb(241,133,54);
            font-size: 2.2em;
            text-align: center;
            /* display: flex;
            flex-flow: row wrap;
            align-items: center; */
        }
      
    /*END-HEADER*/
    /* MAIN_CONTAINER */
            .main_container{
                height: 67vh;
                margin-top: 1em;
            }
            #main_label{
                font-size: 2.5em;
                padding-bottom: 1em;
            }

            button > a > label{
                font-size: 1em;
            }
            .option{
                padding-top: .7em;
                padding-bottom: .7em;
            }
            #restaurante{
                background-size: 100% 75%;
            }
            #car{
                background-size: 32%;
            }
            #bag{
                background-size: 17%;
            }
            #dry-thru{
                color:rgb(241,133,54);
                font-size: 2.2em;
                text-align: center;
                /* display: flex;
                flex-flow: row wrap;
                align-items: center; */
            }
        /* END-MAIN_CONTAINER */
        /* QRSCANNER */
            footer{
                font-size: .8em;
            }
            .qr{
                padding-top:  8vh;
            }
            .qr > .row{
                margin: 5vh 0;
                font-size: 1.1rem;
            }
            #canvas{
                /* margin-left: 27.5vw; */
                width: 25vw;
                height: 50vh;
            }
            #output{
                margin: auto;
                background-color:  rgb(241,133,54);
                color: white;
                width: 30vw;
            }
            #instruction{
                font-size: 1.5em;
            }
            #canvas{
                /* margin-left: 27.5vw; */
                width: 40vw;
                height: 45vh;
            }
            #output{
                margin: auto ;
                background-color:  rgb(241,133,54);
                color: white;
                width: 40vw;
            }

        /* END-QRSCANNER */
}
@media (max-width: 991.98px )and (orientation: portrait){
    .install-popup h6{
        padding: 3.3em 0.2em 3em;
        color: white;
    }
    .install-popup{
        display:none;
        width: 100%;
        height: 12vh;
        background-color:whitesmoke;
        position: fixed;
        flex-flow: column wrap;
        justify-content: space-evenly;
        background: rgb(241,133,54,.9);
        padding: 3em;
    
    }
    #installation .modal-body #examples_outer {
        padding: .5em 25% 0 22%;
    }
    /* HEADER */
    .main-header{
    background-size: 40%;
    }
    .main-header:after{
    border-width: 0 0 2em 100vw;
    }
    #menu{
    font-size: 2em;
    }
    #menu:hover{
    cursor:pointer;
    }
    #lang{
    font-size: 1.2em;
    }

    #dry-thru{
        color:rgb(241,133,54);
        font-size: 2.2em;
        text-align: center;
        /* display: flex;
        flex-flow: row wrap;
        align-items: center; */
    }

    /*END-HEADER*/
    .main_container{
    height: 67vh;
    margin-top: 1em;
    }
    #main_label{
    font-size: 1.5em;
    padding-bottom: 2.3em;
    }

    button > a > label{
    font-size: 1em;
    }
    .option{
    padding-top: .7em;
    padding-bottom: .7em;
    }
    #restaurante{
    background-size: 100% 65%;
    }
    #car{
    background-size: 55%;
    }
    #bag{
    background-size: 30%;
    }
}
@media (max-width: 768px) and (orientation: landscape){
    body{
        /* height: 100vh;
        font-family: 'Acumin Pro';             */
        margin-bottom: 120px;              
    }
    .install-popup{
        display:none;
        width: 100%;
        height: 17vh;
        background-color:whitesmoke;
        position: fixed;
        flex-flow: column wrap;
        justify-content: space-evenly;
        background: rgb(241,133,54,.9);
        padding: 0 5em;
    
    }
    #installation .modal-body #examples_outer {
        padding: .5em 25% 0 22%;
    }
    
    .main-header{
        background-size: 25%;
    }
    .option{
        padding-top: 0;
        padding-bottom: 0;
    }
    .mt-4 {
        margin-top: 0 !important;
    }
    .main_container{
        height: 70vh;
        margin-top: 0;
    }
    #main_label{
        font-size: 1.5em;
        padding-bottom:0.5em;
    }
    #restaurante{
        background-size: 100% 65%;
    }
    #car{
        background-size: 58%;
    }
    #bag{
        background-size: 33%;
    }

    #dry-thru{        
        font-size: 1.5em;        
    }

    /* QRSCANNER */
        footer{
            font-size: .8em;
        }
        .qr{
            padding-top:  1em;
        }
        .qr > .row{
            margin: 3vh 0;
            font-size: 1rem;
        }
        #instruction{
            font-size: 1em;
        }
        #canvas{
            /* margin-left: 27.5vw; */
            width: 30vw;
            height: 50vh;
        }
        #output{
            margin: auto ;
            background-color:  rgb(241,133,54);
            color: white;
            width: 50vw;
        }
    /* END-QRSCANNER */
}
@media (max-width: 768px) and (orientation: portrait){
    body{
        /* height: 100vh;
        font-family: 'Acumin Pro';             */
        margin-bottom: 60px;              
    }
    #installation .modal-body #examples_outer {
        padding: .5em 25% 0 22%;
    }
    
    .install-popup{
        display:flex;
    }
    /* HEADER */
        .main-header{
            background-size: 55%;
        }
        #menu{
            font-size: 2em;
        }
        #menu:hover{
            cursor:pointer;
        }
        #lang{
            font-size: 1.2em;
        }
        #dry-thru{            
            font-size: 2.2em;                        
        }
    /*END-HEADER*/
    /* MAIN_CONTAINER */
        .main_container{
            height: 67vh;
            margin-top: 1em;
        }
        #main_label{
            font-size: 1.5em;
            padding-bottom: 2.3em;
        }
        .main-header:after{
            border-width: 0 0 2em 100vw;
        }
        button > a > label{
            font-size: 1em;
        }
        .option{
            padding-top: .7em;
            padding-bottom: .7em;
        }
        #restaurante{
            background-size: 100% 75%;
        }
        #car{
            background-size: 75%;
        }
        #bag{
            background-size: 45%;
        }
       
    /* END-MAIN_CONTAINER */
    /* QRSCANNER */
        footer{
            font-size: .8em;
        }
        .qr{
            padding-top:  5vh;
        }
        .qr > .row{
            margin: 5vh 0;
            font-size: 1rem;
        }
        #instruction{
            font-size: 1.5em;
        }
        #canvas{
            /* margin-left: 27.5vw; */
            width: 50vw;
            height: 45vh;
        }
        #output{
            margin: auto ;
            background-color:  rgb(241,133,54);
            color: white;
            width: 50vw;
        }
    /* END-QRSCANNER */
}
@media (max-width: 576px)
    {
        #installation .modal-content{
            height: 93vh;
        }
        body{
            /* height: 100vh;
            font-family: 'Acumin Pro';             */
            margin-bottom: 60px;              
        }
        .install-popup{
            display:none;
            width: 100%;
            height: 12vh;
            background-color:whitesmoke;
            position: fixed;
            flex-flow: row wrap;
            justify-content: space-evenly;
            background: rgb(241,133,54,.9);
            padding: 0;
        }
      
        
        .install-popup h6{
            font-size:1.5em;
            padding: .5em 3em .2em 3em;
            color: white;
            width: 100%;
            text-align: center;
        }
        #installation .modal-body #examples_outer {
            padding: .5em 1em 0 2em;
        }
        /* HEADER */
            .main-header{
                background-size: 65%;
            }
            #menu{
                font-size: 2em;
            }
            #menu:hover{
                cursor:pointer;
            }
            #lang{
                font-size: 1.2em;
            }
            #dry-thru{                
                font-size: 1.5em;
                padding: 0.3em;
            }
        /*END-HEADER*/
        /* MAIN_CONTAINER */
            .main_container{
                height: 67vh;
                margin-top: 1em;
            }
            #main_label{
                font-size: 1.5em;
                padding-bottom: 1em;
            }
            .main-header:after{
                border-width: 0 0 2em 100vw;
            }
            button > a > label{
                font-size: 1em;
            }
            .option{
                padding-top: .2em;
                padding-bottom: .2em;
            }
            #restaurante{
                background-size: 100% 55%;
            }
            #car{
                background-size: 80%;
            }
            #bag{
                background-size: 50%;
            }
            #menu {
                left: .5em;
            }
            /* #drive-thru{
                font-size: 1em !important;
            } */
            #lang{
                top: 0.4em;
                right: 0.5em;
            }          
          
            .mt-4{
                margin-top: 0 !important;
            }
        /* END-MAIN_CONTAINER */
        /* QRSCANNER */
            footer{
                font-size: .8em;
            }
            .qr{
                padding-top:  1em;
            }
            .qr > .row{
                margin: 3vh 0;
                font-size: 1rem;
            }
            #instruction{
                font-size: 1.5em;
            }
            #canvas{                
                width: 100%;
                height: 45vh;
            }
            
            #output{
                margin: auto ;
                background-color:  rgb(241,133,54);
                color: white;
                width: 84vw;
            }        
        /* END-QRSCANNER */
}

