/* General */
body{
  height: 100vh;
}

section{
 height: 100vh;
 background-image: url("../../images/slider/hero-area1.jpg");
 background-size: cover;
}
footer {
  background-color: black;
  color: white;
  position:absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* TEXT */
.highlight{
  color:#02a847;

}
.details{
  color: white;
  font-style: italic;
}

/* Buttons */
#cancelar{
  align-items: center;
}
#cancelar:active{
  -ms-transform: scale(.8); /* IE 9 */
  -webkit-transform: scale(.8); /* Safari 3-8 */
  transform: scale(.8);
}
#start{
  background-image: url("../../images/r2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2em 5em;
}
#start:active{
  -ms-transform: scale(.8); /* IE 9 */
  -webkit-transform: scale(.8); /* Safari 3-8 */
  transform: scale(.8);
}
#stop{
  /* padding: 1em 3//em; */
  /* color:#281f1f; */
  font-size: 2.4em;
}
#stop:active{
  -ms-transform: scale(.8); /* IE 9 */
  -webkit-transform: scale(.8); /* Safari 3-8 */
  transform: scale(.8);
}
#aceptar{
  margin:auto;
}
#aceptar:active{
  -ms-transform: scale(.8); /* IE 9 */
  -webkit-transform: scale(.8); /* Safari 3-8 */
  transform: scale(.8);
}
#iniciar{
    padding: 1em 0;
    margin:auto;
    width: 100%;
      table-layout: fixed;
}

#iniciar:active{
  -ms-transform: scale(.8); /* IE 9 */
  -webkit-transform: scale(.8); /* Safari 3-8 */
  transform: scale(.8);
}
#terminar{
    width: 100%;
    table-layout: fixed;
    padding: 1em 0;
    margin:auto;
}
#terminar:active{
  -ms-transform: scale(.8); /* IE 9 */
  -webkit-transform: scale(.8); /* Safari 3-8 */
  transform: scale(.8);
}
#ticket{
  width: 100%;
  table-layout: fixed;
    padding: 1em 0;
    margin:auto;
}
#ticket:active{
  -ms-transform: scale(.8); /* IE 9 */
  -webkit-transform: scale(.8); /* Safari 3-8 */
  transform: scale(.8);
}


.option{
  padding: 1em 0;
}
.options{
  padding-top: 22vh;
}

/* MODAL */
.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.price{
  font-size: 5em;
  padding: 0 .95em;
  /* width:3em; */
}
/* LOADER */
#loader:hover{
  cursor: pointer;
}
#loader{
  height: 70vh;
  transition: transform .2s;
}
#loader:active{
   -ms-transform: scale(.9); /* IE 9 */
   -webkit-transform: scale(.9); /* Safari 3-8 */
   transform: scale(.9);

}
#leyenda{
  font-size: 3em;
  color: white;
}
#origen{
  width: 100%;
}
.ldBar path.mainline {
    stroke-width: 5;
    stroke: #02a847;
    stroke-linecap: round;


  }
  .ldBar path.baseline {
    stroke-width: 3;
    stroke: #f1f2f3;
    stroke-linecap: round;
    filter:url(#custom-shadow);
  }
  .label-center {
   color: green;

   font-size: 2em;
   font-weight: 500;
 }
 .ldBar-label:after {
  content: "seg"; /* change from % to USD */
  font-size: 1em;
}


@media (max-width: 992px) {

#loader{
    padding: 0 15vh 0 15vh ;
    height: 70vh;
  }
  #leyenda{
    font-size: 2.2em;

  }
  .label-center {
   font-size: 2em;
   font-weight: 500;
 }
 .ldBar-label:after {

  font-size: 1em;
  font-weight: 500;
}
.options{
  padding-top: 20vh;
  }
}
@media (max-width: 768px) {
  #loader{
    padding: 1vh 15vh 2vh 15vh ;
    height: 70vh;
  }
  #leyenda{
    font-size: 2.2em;

  }
  .label-center {
   font-size: 2em;
   font-weight: 500;
 }
 .ldBar-label:after {

  font-size: 1em;
  font-weight: 500;
}
.options{
    padding-top: 20vh;
  }
}
@media (max-width: 576px) {

  #loader{
    padding: 5vh ;
    height: 70vh;
  }
  #leyenda{
    font-size: 2em;

  }
  .label-center {
   font-size: 2em;
   font-weight: 500;
 }
 .ldBar-label:after {

  font-size: 1em;
  font-weight: 500;
}
.options{
  padding-top: 20vh;
  }
  .price{
    font-size: 5em;
    padding: 0 .65em;
    /* width:3em; */
  }

}

@media (max-width: 480px) {

    #loader{
      padding: 0;
      height: 60vh;
    }
    #leyenda{
      font-size: 1.3em;
      padding-top: 3vh;

    }
    .label-center {
     font-size: 2em;
     font-weight: 500;
   }
   .ldBar-label:after {

    font-size: 1em;
    font-weight: 500;
    }

  .options{
      padding-top: 20vh;
    }
    #origen{
      width: 60%;
    }
    .price{
      font-size: 5em;
      padding: 0 .65em;
      /* width:3em; */
    }
}
@media (max-width: 280px) {

  #loader{
    padding: 0;
    height: 60vh;
  }
  #leyenda{
    font-size: 1.1em;
    padding-top: 3vh;
  }
  .label-center {
   font-size: 2em;
   font-weight: 500;
 }
 .ldBar-label:after {

  font-size: 1em;
  font-weight: 500;
  }
  #origen{
    width: 40%;
  }

  .price{
    font-size: 5em;
    padding: 0 .65em;
    /* width:3em; */
  }
}


#observaciones{

  resize: none;
  width: 100%;
}
#phone{
  text-decoration: none;
  padding-left: 1.5em;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;

}



.close{
  font-size: 5vh;
  /* color: #dc3545; */
  opacity: 1;
}
close:hover{
  opacity: .5;
  color: #dc3545;
}
